{#- Search for JMdictDB entries
    Context variables:
      src, stat, freq, kinf, rinf, pos, misc, fld, dial --
        These are all 2-D arrays of dimension R rows by C columns of
        jdb.Kwds instances representing rows in a database kwxxx table,
        where 'xxx' stands for "src", "stat", etc.  Each Kwds object
        (and the coresponding table row) contains information about a
        JMdictDB keyword (aka tag value):
          id -- Id number of the keyword
          kw -- Short string giving the keyword.
          descr -- A longer description of the keyword.
        The keywords for each table are organised into a RxC array by
        srchform.py because they are displayed in that form here.
      KW -- The full, loaded jdb.Kwds instance.
-#}
{%- extends "layout.jinja" %}
{%- block title %}Advanced Search{% endblock %}
{%- block page_scripts %}
  <script type="text/javascript">
    function sf(){document.getElementById('t1').focus();}
    </script>
  <script type="text/javascript">
      {#- This function will set/clear the freq search criteria checkboxes
      based on the state of the "P" (id="freq_p") checkbox.  This function
      assumes some naming conventions for the checkboxes:
      - All the controlled boxes must have name="freq".
      - The controlled checkboxes have an id of "freq_xxxx" where "xxxx"
        is the frequency tag, e.g. "ichi1", "news2", etc.
      - The controlling checkbox has id="freq_p" and does NOT have a
        name="freq".
      When the P checkbox is cleared, all the name="freq" checkboxes will
      be cleared.  When the P checkbox is set, all the name="freq" check-
      boxes with an id matching the set of P tags will be set, the others
      will be cleared.  (An earlier version of this function set and cleared
      only the checkboxes in the set of P tags leaving the others unchanged
      but it was felt that checking the P checkbox should provide the search
      criteria that matched the meaning of P without being perturbed by
      other pre-existing settings.)  #}
    function freq_p_set() {
        {# The list of "P" tags, see:
        http://www.edrdg.org/jmdict/edict_doc.html#IREF05 (sec. E)  #}
      var plist = "|gai1|ichi1|news1|spec1|spec2|";
      var newstate = document.getElementById ("freq_p").checked;
      var freqs = document.getElementsByName ('freq');
      for (i=0; i<freqs.length; i++) {
        var is_p = -1 != plist.indexOf ("|"+freqs[i].id.substring(5)+"|");
        freqs[i].checked = newstate && is_p } }
    </script>
  {% endblock %}
{%- block body_attrs %} class="srchfrm" onload="sf()"{%endblock%}

{%- block page_content %}
<!-- srchform.jinja, part of JMdictDB.  Copyright (c) 2018 Stuart McGraw -->
  {#- Following three statements are for jmapp compatibility.  #}
  {% if user is defined %}{% set session=user %}{% endif %}
    <form action="srchres.py" name="srchres" method="get">
      {%+ if svc %}<input type="hidden" name="svc" value="{{svc}}">{%endif%}
      <!-- <input type="hidden" name="srchres" value="1"> -->
      <table class="item">
        <tr>
          <td>
            <table class="top">
              <tr>
                <td>
                  <table class="txtsrch">
                    <tr>
                      <td>Search in</td>
                      <td>Search type</td>
                      <td>For text</td>
                      </tr>
                    <tr>
                      <td>
                        <select name="s1">
                          <option value="1" selected="selected">Auto</option>
                          <option value="2">Kanji</option>
                          <option value="3">Reading</option>
                          <option value="4">Gloss</option>
                          </select>
                        </td>
                      <td>
                        <select name="y1">
                          <option value="1">Is</option>
                          <option value="2" selected="selected">Starts</option>
                          <option value="3">Contains</option>
                          <option value="4">Ends</option>
                          </select>
                        </td>
                      <td><input name="t1" id="t1"></td>
                      </tr>
                    <tr>
                      <td>
                        <select name="s2">
                          <option value="1" selected="selected">Auto</option>
                          <option value="2">Kanji</option>
                          <option value="3">Reading</option>
                          <option value="4">Gloss</option>
                          </select>
                          </td>
                      <td>
                        <select name="y2">
                          <option value="1" selected="selected">Is</option>
                          <option value="2">Starts</option>
                          <option value="3">Contains</option>
                          <option value="4">Ends</option>
                          </select>
                        </td>
                      <td><input name="t2"></td>
                      </tr>
                    <tr>
                      <td>
                        <select name="s3">
                          <option value="1" selected="selected">Auto</option>
                          <option value="2">Kanji</option>
                          <option value="3">Reading</option>
                          <option value="4">Gloss</option>
                          </select>
                        </td>
                      <td>
                        <select name="y3">
                          <option value="1" selected="selected">Is</option>
                          <option value="2">Starts</option>
                          <option value="3">Contains</option>
                          <option value="4">Ends</option>
                          </select>
                        </td>
                      <td><input name="t3"></td>
                      </tr>
                    </table>
                  </td>

                <td>Search by Id or Seq number:
                  <table class="idsrch">
                    <tr>
                      <td>Type:</td>
                      <td>
                        <select name="idtyp">
                          <option value="seq">Entry Seq</option>
                          <option value="id">Entry Id</option>
                          </select>
                        </td>
                      </tr>
                    <tr>
                      <td>Value:</td>
                      <td><input name="idval" size="7"></td>
                      </tr>
                    <tr>
                      <td class="notice" colspan="2">Search by Id or Seq number supersedes all other criteria (except Corpus for Seq number).</td>
                      </tr>
                    <tr>
                      <td>
                        <input name="search" value="Search" type="submit">
                        </td>
                      <td><input type="reset" value="Reset"></td>
                      </tr>
                    </table>
                  </td>
                </tr>

              <tr><td colspan="2"> </td></tr>
              <tr>
                <td colspan="2"><span class="descriptor">Corpus:</span>
                  <a class="helplink" target="edhelp" href="edhelp.py?svc={{svc}}#kw_src">help</a>
                  <table class="optgroup">
                  {%- for r in src %}
                    <tr>
                    {%- for c in r %}
                      <td title="{{c and c.descr}}">
                      {%- if c -%}
                        <input type="checkbox" name="src" value="{{c.id}}" {{(c.id==1)|a('checked')}}>{{c.kw}}
                        {%-endif-%}
                        </td>
                        {%- endfor %}
                      </tr>
                      {%- endfor %}
                    </table>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td valign="top"><span class="descriptor">Status:</span>
                  <a class="helplink" target="edhelp" href="edhelp.py?svc={{svc}}#kw_stat">help</a>
                  <table class="optgroup">
                  {%- for r in stat %}
                    <tr>
                    {%- for c in r %}
                      <td>
                      {%- if c -%}
                        <input type="checkbox" name="stat" value="{{c.id}}" {{(c.kw in 'AN')|a('checked')}}>{{c.descr}}
                        {%-endif-%}
                        </td>
                      {%-endfor%}
                      </tr>
                    {%-endfor%}
                    </table>
                  </td>
                <td valign="top"><span class="descriptor">Approval:</span>
                  <table class="optgroup">
                    <tr>
                      <td><input type="checkbox" name="appr" value="appr" checked>Approved</td>
                      <td><input type="checkbox" name="appr" value="unappr" checked>Unapproved</td>
                      </tr>
                    </table>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td colspan="2"><span class="descriptor">Frequency of use:</span>
                  {#- Checkbox names and ids in the section  are determined by the
                      needs of the freq_p_set() javascript function (see above.)  #}
                  <a class="helplink" target="edhelp" href="edhelp.py?svc={{svc}}#kw_freq">help</a><br/>
                  <span class="optgroup" title="Set or clear all Edict 'P' freq values">
                    <input type="checkbox" id="freq_p" onclick="freq_p_set()">P
                    </span>&nbsp;
                  {%- for z in freq %}
                  <span class="optgroup" title="{{z.descr}}">
                    <input type="checkbox" name="freq" value="{{z.kw}}" id="freq_{{z.kw}}">{{z.kw}}
                    </span>
                    {%-endfor%}
                  <span class="optgroup" title="{{KW.FREQ.nf.descr}}">
                    &nbsp;&nbsp; nf&nbsp;
                    <select name="nfcmp">
                      <option selected="selected"></option>
                      <option>&le;</option>
                      <option>=</option>
                      <option>&ge;</option>
                      </select>
                    <input name="nfval" size="2" placeholder="0">
                    </span>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td><span class="descriptor">Kanji info:</span>
                  <a class="helplink" target="edhelp" href="edhelp.py?svc={{svc}}#kw_kinf">help</a>
                  <table class="optgroup">
                  {%- for r in kinf %}
                    <tr>
                    {%- for c in r %}
                      <td title="{{c and c.descr}}">
                      {%- if c %}
                        <input type="checkbox" name="kinf" value="{{c.id}}">{{c.kw}}
                        {%-endif-%}
                        </td>
                      {%-endfor%}
                      </tr>
                    {%-endfor%}
                    </table>
                  </td>

                <td><span class="descriptor">Reading info:</span>
                  <a class="helplink" target="edhelp" href="edhelp.py?svc={{svc}}#kw_rinf">help</a>
                  <table class="optgroup">
                  {%- for r in rinf %}
                    <tr>
                    {%- for c in r %}
                      <td title="{{c and c.descr}}">
                      {%- if c -%}
                        <input type="checkbox" name="rinf" value="{{c.id}}">{{c.kw}}
                        {%-endif-%}
                        </td>
                      {%-endfor%}
                      </tr>
                    {%-endfor%}
                    </table>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td colspan="2"><span class="descriptor">Part-of-speech attributes:</span>
                  <a class="helplink" target="edhelp" href="edhelp.py?svc={{svc}}#kw_pos">help</a>
                  <table class="optgroup">
                  {%- for r in pos %}
                    <tr>
                    {%- for c in r %}
                      <td title="{{c and c.descr}}">
                      {%- if c %}
                        <input type="checkbox" name="pos" value="{{c.id}}">{{c.kw}}
                        {%-endif-%}
                        </td>
                      {%-endfor%}
                      </tr>
                    {%-endfor%}
                    </table>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td colspan="2"><span class="descriptor">Misc attributes:</span>
                  <a class="helplink" target="edhelp" href="edhelp.py?svc={{svc}}#kw_misc">help</a>
                  <table class="optgroup">
                  {%- for r in misc %}
                    <tr>
                    {%- for c in r %}
                      <td title="{{c and c.descr}}">
                      {%- if c %}
                        <input type="checkbox" name="misc" value="{{c.id}}">{{c.kw}}
                        {%-endif-%}
                        </td>
                      {%-endfor%}
                      </tr>
                    {%-endfor%}
                    </table>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td colspan="2"><span class="descriptor">Field:</span>
                  <a class="helplink" target="edhelp" href="edhelp.py?svc={{svc}}#kw_fld">help</a>
                  <table class="optgroup">
                  {%- for r in fld %}
                    <tr>
                    {%- for c in r %}
                      <td title="{{c and c.descr}}">
                      {%- if c %}
                        <input type="checkbox" name="fld" value="{{c.id}}">{{c.kw}}
                        {%-endif-%}
                        </td>
                      {%-endfor%}
                      </tr>
                    {%-endfor%}
                    </table>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td colspan="2"><span class="descriptor">Dialect:</span>
                  <a class="helplink" target="edhelp" href="edhelp.py?svc={{svc}}#kw_dial">help</a>
                  <table class="optgroup">
                  {%- for r in dial %}
                    <tr>
                    {%- for c in r %}
                      <td title="{{c and c.descr}}">
                      {%- if c %}
                        <input type="checkbox" name="dial" value="{{c.id}}">{{c.kw}}
                        {%-endif-%}
                        </td>
                      {%-endfor%}
                      </tr>
                    {%-endfor%}
                    </table>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td colspan="2"><span class="descriptor">Sense note:</span></td>
                </tr>
              <tr>
                <td colspan="2">
                  <table>
                    <tr>
                      <td>Text: </td>
                      <td><input name="snote" size="16"></td>
                      <td colspan="3">
                        <input type=radio name="snotem" value="0" checked>Contains
                        <input type=radio name="snotem" value="1">Regex match
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td colspan="2"><span class="descriptor">History:</span></td>
                </tr>
              <tr>
                <td colspan="2">
                  <table>
                    <tr>
                      <td>Submitter: </td>
                      <td><input name="smtr" size="16"></td>
                      <td colspan="3">
                        <input type=radio name="smtrm" value="0" checked>Exact match
                        <input type=radio name="smtrm" value="1">Wildcard match
                        </td>
                      </tr>
                    <tr>
                      <td>From date: </td>
                      <td><input name="ts0" size="16"></td>
                      <td>&nbsp;&nbsp;To date: </td>
                      <td><input name="ts1" size="16"></td>
                      </tr>
                    <tr>
                      <td>Refs text: </td>
                      <td><input name="refs" size="16"></td>
                      <td colspan="3">
                        <input type=radio name="refsm" value="0" checked>Contains
                        <input type=radio name="refsm" value="1">Regex match
                        </td>
                      </tr>
                    <tr>
                      <td>Comments text: </td>
                      <td><input name="cmts" size="16"></td>
                      <td colspan="3">
                        <input type=radio name="cmtsm" value="0" checked>Contains
                        <input type=radio name="cmtsm" value="1">Regex match
                        </td>
                      </tr>
                    <tr>
                      <td colspan="4">
                        Which history record?
                        <input type=radio name="mt" value="0" checked>Any
                        <input type=radio name="mt" value="1">Oldest
                        <input type=radio name="mt" value="-1">Newest
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              <tr>
                <td colspan="2"><span class="notes">
                  * <b>From date</b> and <b>To date</b> format is YYYY/MM/DD hh:mm.
                  The time part is optional and if not given, 00:00 will be used for <b>From date</b>,
                  23:59 for <b>To date</b>.  Dates and times are UTC.<br>
                  * When multiple History search criteria are given, all must match within a single
                  history record.
                  </span>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"/></td></tr>
              <tr>
                <td colspan="2"><span class="descriptor">Groups:</span>
                  <input name="grp" size="60">
                  <span class="notes"> (Separate multiple groups with spaces.)</span>
                  </td>
                </tr>

              <tr><td colspan="2"><hr width="100%"></td></tr>
              <tr>
                <td colspan="2">
                  <input name="search" value="Search" type="submit">
                  &nbsp;&nbsp;
                  <input type="reset" value="Reset">
                  </td>
                </tr>

              </table>{# class="top" #}
            </td>
          </tr>
        </table>{# class="item" #}
      </form>

    <div class="notes">
      Notes...
      <ul>
        <li>ID search supersedes all other criteria.  If you want to search by
          any of the other criteria, make sure the Value text box is empty.</li>
        <li>The text search rows and other sections are ANDed together.</li>
        <li>Within the attribute sections, all selections are ORed together.
          For example, if both "suf" and "pref" are checked in the PoS section,
          entries that are either suffixes or prefixes will be found.</li>
        <li>Within the attribute sections, no boxes checked is generally the
          same as all boxes checked.
        <li>If "Search In" is Auto, the given text will be searched for according
          to the characters in the search string.  If the search string contains:
          <ul>
            <li>any kanji characters: the kanji table is searched.</li>
            <li>kana characters but no kanji: the reading table is searched.</li>
            <li>neither kanji nor kana characters: the gloss table is searched.</li>
            </ul>
          You can explicitly specify the table if you want to override this (to search
          for kanji strings that contain a particular kana substring for example.)
          </li>
        <li>If Freqency of Use criteria are given, an entry will match if the criteria
           occur in either the reading FoU or the kanji FoU.</li>
        <li>When criteria are ANDed, they are considered across the entire entry.
          For example if a gloss string and a PoS attribute are specified, any entry
          containing both will returned, even when they occur in different senses.</li>
        <li>Text searches (including Submitter Name) are case-insensitive.</li>
        <li>When "Wildcard" is selected for Submitter Name, "?" will match any
          single character, and "*" will match any substring of zero or more
          characters.  To treat a "*" or "?" as themselvers, precede them with
          a backslash ("\") character.</li>
        </ul>
      </div>{# class="notes" #}
    <hr width="100%">
{%endblock%}
